<div class="upper-right-corner upper"><%= link_to 'Sign Out', session_path, data: { turbo_method: :delete } %></div>
<div class="page-title center">Search in The Movie Database (TMDB)</div>
<div class="search-block center"><%= render 'movie_searches/search' %></div>
<div class="info-bar"><%= flash[:notice] %></div>
<%= render 'movie_searches/movies' if @movies %>