/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.info {
  font-size: larger;
  margin: 0.5rem 0;
  width: 33rem;
}

.sign-field, .actions {
  height: 1.5rem;
  margin: 0.5rem 0;
}

.sign-field label {
  display: inline-block;
  margin-bottom: 0.2rem;
  width: 12rem;
}

.sign-field input[type="text"],
.sign-field input[type="password"],
.sign-field input[type="email"] {
  width: 20rem;
}

.actions input[type="submit"] {
  width: 10rem;
}