/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

.intro, .sign-field {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.upper {
  text-transform: uppercase;
}

.actions {
  height: 38px;
  margin: 0.5rem 0;
}

.sign-field label,
.field_with_errors {
  display: inline-block;
  width: 16rem;
}

.sign-field input[type="text"],
.sign-field input[type="password"],
.sign-field input[type="email"] {
  width: 20rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.actions input[type="submit"] {
  width: 10rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.page-title {
  margin: 40px;
}

.search-block {
  margin: 0 auto;
}

.info-bar {
  height: 18px;
  padding: 23px;
  font-size: 18px;
  text-align: center;
}

.search-label, .search-keywords {
  height: 32px;
  font-size: 18px;
}

.search-keywords, .search-button {
  border-radius: 5px;
}

.search-keywords {
  width: 30rem;}

.search-button {
  height: 38px;
  font-size: 18px;
}

.movies, .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.movie {
  margin: 10px;
  width: 400px;
  height: 332px;
  border: 3px double #047773;
  border-radius: 10px;
}

.movie-title {
  height: 24px;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  border-bottom: 1px solid #047773;
  overflow-x:auto;
}

.movie-container {
  display: flex;
  height: 300px;
}

.image {
  display: inline-block;
  height: auto;
  max-width: 50%;
  border-radius: 5px 0 0 5px;
}

.overview {
  display: inline-block;
  padding: 10px;
  overflow-y: auto;
}

.pagination .page {
  margin: 2px;
  height: 38px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.pagination .active {
  color: white;
  background-color: #cccccc;
}

.upper-right-corner {
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.container {
  display: flex;
  margin: 32px;
  align-items: center;
}

.halfpanel {
  width: 50%;
  padding: 32px;
}

.column {
  flex-direction: column;
}
